<header>
  <nav class="grid grid--center" ng-controller="ToolbarCtrl">

    <!-- START UNIVERSAL USER NAV -->
    <div class="logo grid-cell">
      <a href="/"><img src="/images/tipsyology-logo.png" /></a>
    </div>
    <div class="search grid-cell">
      <div class="input-group">
        <ng-include src="'/fuzzy-finder.html'"></ng-include>
      </div>
    </div>
    <!-- END UNIVERSAL USER NAV -->

    <!-- START LOGGED OUT USER NAV -->
    <div class="logged-out grid-cell" ng-cloak ng-hide="isLoggedIn()">
      <div class="grid grid--center">
        <div class="grid-cell">
          <a ng-click="openSignInModal()"><small>Browse <i class="fa fa-caret-down"></i></small></a>
        </div>
        <div class="grid-cell user">
          <a href="/users/sign_up/"><small>Sign up</small></a>
        </div>
        <div class="grid-cell user">
          <a href="/users/sign_in/"><small>Sign in</small></a>
        </div>
      </div>
    </div>
    <!-- END LOGGED OUT USER NAV -->

    <!-- START LOGGED IN USER NAV -->
    <div class="logged-in grid-cell" ng-cloak ng-show="isLoggedIn()">
      <div class="grid grid--center">
        <div class="grid-cell">
          <a href="/drinks"><small>Browse <i class="fa fa-caret-down"></i></small></a>
        </div>
        <div class="grid-cell review" ng-show="openReviewCt">
          <a ng-click="openReviewModal()"><small>Review</small> <span class="badge">{{openReviewCt}}</span></a>
        </div>
        <div class="grid-cell user rep-cont dropdown">
          <!-- REP SUMMARY -->
          <div id="rep-alerts">
            <a ng-click="openRepChangesMenu($event)">
              <span class="reputation" title="{{getUser().points}} points of reputation ('tips')">{{getUser().points}}</span>
              <span class="rep-change {{change.points < 0 && 'negative'}}" ng-if="toolbar.repChangesDelta">{{toolbar.repChangesDeltaWithSign}}</span>
            </a>
          </div>
          <!-- REP CHANGES DROPDOWN -->
          <ul class="dropdown-menu dropdown-menu-right" ng-if="toolbar.repChangesMenu">
            <li ng-repeat="change in toolbar.repChanges">
              <a href="{{change.url}}">
                <span class="rep-change {{change.points < 0 && 'negative'}}">{{change.pointsWithSign}}</span>
                {{change.title}}
                <br>
                <small>{{change.description}}</small>
              </a>
            </li>
            <li ng-show="!(toolbar.repChanges && toolbar.repChanges.length)"><em>No new point distributions</em></li>
          </ul>
        </div>
        <!-- TROPHIES SUMMARY -->
        <div class="grid-cell user trophie-cont">
          <a href="/user/trophies.html">
            <i class="fa fa-trophy gold"></i>   {{getUser().gold_trophy_ct||0}}
            <i class="fa fa-trophy silver"></i> {{getUser().silver_trophy_ct||0}}
            <i class="fa fa-trophy bronze"></i> {{getUser().bronze_trophy_ct||0}}
          </a>
        </div>
        <div class="grid-cell user avatar-cont dropdown">
          <!-- USER AVATAR -->
          <div class="grid" id="avatar-dropdown">
            <a class="avatar" ng-click="openToolbarMenu($event, 'avatar')">
              <img ng-src="{{getUser().tinyAvatar}}">
            </a>
          </div>
          <!-- USER DROPDOWN -->
          <ul class="dropdown-menu dropdown-menu-right" ng-show="toolbar.avatar">
            <li><a href="/users/edit"><i class="fa fa-user"></i> Markham Anderson</a></li>
            <li><a href="/users/edit"><i class="fa fa-cog"></i> Account Settings</a></li>
            <li><a href="/users/sign_out" ng-click="visitNoTurbo('/users/sign_out', $event)"><i class="fa fa-sign-out"></i> Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END LOGGED IN USER NAV -->

  </nav>
</header>