<header>
  <div class="wrapper grid grid--center" ng-controller="ToolbarCtrl">
    <div class="logo grid-cell">
      <a href="/"><img src="/images/tipsyology-logo.png" /></a>
    </div>
    <div class="search grid-cell">
      <div class="input-group">
        <ng-include src="'/fuzzy-finder.html'"></ng-include>
      </div>
    </div>
    <nav class="grid grid--center grid-cell" ng-cloak ng-hide="isLoggedIn()">
      <div class="grid-cell">
        <a ng-click="openSignInModal()">Browse</a>
      </div>
      <div class="grid-cell user">
        <a href="/users/sign_up/">Sign up</a>
        <a href="/users/sign_in/">Sign in</a>
      </div>
    </nav>
    <nav class="grid grid--center" ng-cloak ng-show="isLoggedIn()">
      <div class="grid-cell">
        <a href="/drinks">Browse</a>
      </div>
      <div ng-show="openReviewCt" class="grid-cell">
        <a href="#review"><small>Review</small> <span class="badge">{{openReviewCt}}</span></a>
      </div>
      <div class="grid-cell user">
        <div class="grid grid--center">
          <div class="grid-cell rep-cont dropdown">
            <div id="rep-alerts">
              <a ng-click="openToolbarMenu($event, 'repChanges')">
                <span class="reputation" title="{{getUser().points}} points of reputation ('tips')"><i class="icon-pixelpotion"></i>{{getUser().points}}</span>
                <span class="rep-change" ng-if="getUser().newPointChanges">{{getUser().newPointChanges < 0 ? '-' : '+'}}{{getUser().newPointChanges}}</span>
              </a>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" ng-if="toolbar.repChanges">
              <li ng-repeat="change in recentRepChanges">
                <a href="#"><span class="rep-change">+1</span> User has liked your picture</a>
              </li>
            </ul>
          </div>
          <div class="grid-cell trophie-cont">
            <a href="#">
              <i class="fa fa-trophy gold"></i> {{getUser().goldBadgeCt||0}}
              <i class="fa fa-trophy silver"></i> {{getUser().silverBadgeCt||0}}
              <i class="fa fa-trophy bronze"></i> {{getUser().bronzeBadgeCt||0}}
            </a>
          </div>
          <div class="grid-cell dropdown">
            <div class="grid" id="avatar-dropdown">
              <a class="avatar" ng-click="openToolbarMenu($event, 'avatar')">
                <img ng-src="{{getUser().avatar_url || '/images/anonymous-thumb.jpg'}}"></a>
              </a>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" ng-show="toolbar.avatar">
              <li><a href="/users/edit">Profile &amp; Settings</a></li>
              <li><a href="/users/sign_out">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>