<div ng-controller="Drink.FlagModalCtrl">
	<div ng-if="revisions.length">
		<ol>
			<li>Please indicate which revision contains the problematic content.</li>
			<li>Provide a description of the reason for this flag. (E.g. copyright infringment, indecent content, spam, hurtful to the Tipsy<super>SM</super> community.)
		</ol>
		<div ng-repeat="revision in revisions">
			{{revision.id}}
		</div>
	</div>
	<div ng-if="!revisions.length && revisions.$resolved">
		<p>We cannot find any saved revisions for this page, so it looks like there's nothing to flag.</p>
		<p>If you believe you have reached this message in error. Please hang up and dial your operator. Or submit a bug report. BUT FIRST DO A SEARCH TO SEE IF ANY BUG REPORT ALREADY EXISTS FOR YOUR ERROR! <a href="https://bitbucket.org/entrity/tipsy-web/issues?status=new&status=open">Tipsy Bug Tracker</a></p>
	</div>
</div>
