<div>
	<div ng-if="uploader.errors && uploader.errors.length" class="red">
		<p>Submission failed</p>
		<ul>
			<li ng-repeat="err in uploader.errors" ng-bind="err"></li>
		</ul>
	</div>
	<progressbar class="progress-striped active" type="{{uploader.progress == 100 ? (uploader.errors ? 'danger' : 'success') : null}}" value="uploader.progress"></progressbar>
	<div ng-hide="uploader.success">
		<p>
			<input type="file" ngf-select ng-model="imgFiles" ng-model-rejected="rejFiles" ngf-capture="'camera'" accept="image/*" ngf-accept="'image/*'">
		</p>
		<p>
			<label>Title/description</label>
			<input type="text" ng-model="uploader.data.alt">
		</p>
		<p>
			<a class="btn btn-primary" ng-click="upload()">Submit</a>
		</p>
	</div>
	<div ng-show="uploader.success" class="green">
		<p>Thank you. Your submission shall be reviewed. It shall be published if approved.</p>
		<p><a class="btn btn-success" ng-click="$close()">Close</a></p>
	</div>
</div>
