<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tipsyology</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="landing" ng-app="tipsy">
	<div class="flash-notice">
		<%= flash[:notice] %>
	</div>

	<p class="logged-out-nav"><a href="/users/sign_in" class="btn btn-primary">Log in</a> <a href="/users/sign_up" class="btn btn-white">Sign up</a></p>
	<div class="grid grid--center splash">
	  <div class="search grid-cell">
    	<img class="logo" src="/images/tipsyology-logo.png">
    	<p>Discover, create and share all things tipsy!</p>
	    <div>
		    <ng-include src="'/fuzzy-finder.html'"></ng-include>
		    <ng-include src="'/find-results.html'"></ng-include>
	    </div>
	    <p><a href=""><i class="fa fa-compass"></i> Explore Tipsyology</a></p>
	  </div>
	</div>
  <footer class="fixed">
  	<div class="grid">
	  	<div class="grid-cell socials">
	      <a href="" title="Tipsyology on Google+"><i class="fa fa-google-plus"></i></a>
	      <a href="" title="Tipsyology on Facebook"><i class="fa fa-facebook"></i></a>
	      <a href="" title="Tipsyology on Twitter"><i class="fa fa-twitter"></i></a>
	      <a href="" title="Tipsyology on Linkedin"><i class="fa fa-linkedin"></i></a>
	    </div>
	  	<div class="grid-cell copyright">
	      Copyright stuff
	    </div>
  	</div>
  </footer>
</body>
</html>