<div id="home" ng-controller="Home.AuthedCtrl">
	<div class="full-bleed hero">
		<div class="grid grid--center center">
			<div class="grid-cell">
				<h1>Summers top party picks</h1>
				<h4>Pitchers, punchbowls, fishbowls, oh my?</h4>
			</div>
		</div>
		<div class="grid center">
			<div class="grid-cell">
				test 1 
			</div>
			<div class="grid-cell">
				test 2 
			</div>
			<div class="grid-cell">
				test 3 
			</div>
			<div class="grid-cell">
				test 4 
			</div>
			<div class="grid-cell">
				test 5 
			</div>
		</div>
	</div>
	<div class="center top-lists">
		<div class="grid">
			<div class="grid-cell">
				<h2>Most liked cocktails</h2>
				<div class="grid grid--center item" ng-repeat="drink in topDrinks">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
			<div class="grid-cell">
				<h2>Popular drinks with Gin</h2>
				<div class="grid grid--center item" ng-repeat="drink in topGinDrinks">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="grid-cell">
				<h2>Top Margaritas</h2>
				<div class="grid grid--center item" ng-repeat="drink in topMargaritas">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
			<div class="grid-cell">
				<h2>Popular drinks with Vodka</h2>
				<div class="grid grid--center item" ng-repeat="drink in topVodkaDrinks">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
		</div>
	</div>
</div>