<div id="home" ng-controller="Home.AuthedCtrl">
	<div class="full-bleed hero">
		<div class="grid grid--center center">
			<div class="grid-cell text-center">
				<h1>Add ingredients. Find cocktails. Master mixology.</h1>
				<h4>Discover cocktails you can make right now</h4>
				<a class="btn btn-default btn-lg" href="#">How it Works</a>
				<div class="fuzzy-finder">
					<ng-include src="'/fuzzy-finder.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
	<div class="center top-lists">
		<div class="grid grid--center center">
			<div class="grid-cell">
				<h3>Summers top picks</h3>
				<h5>From the backyard barbecue to a tropical paradise</h5>
			</div>
		</div>
		<div class="grid center picks">
			<a class="grid-cell" href="/recipe/2817-desert-breeze" style="background-image:url(/images/drinks/desert-breeze-cocktail.jpg);">
				<div class="title">
					<h4>Summer Breeze</h4><span>The ultimate vodka cranberry</span>
				</div>
				<div class="faves">
					<span class="votes"><i class="fa fa-thumbs-up"></i></span>
					<span class="counter">33</span>
				</div>
			</a>
			<a class="grid-cell" href="/recipe/11273-mojito" style="background-image:url(/images/drinks/mojito-2.jpg);">
				<div class="title">
					<h4>Mojito</h4><span>Lively mint and a freshing lime flavor</span>
				</div>
				<div class="faves">
					<span class="votes"><i class="fa fa-thumbs-up"></i></span>
					<span class="counter">33</span>
				</div>
			</a>
			<a class="grid-cell" href="/recipe/5055-pina-colada" style="background-image:url(/images/drinks/pina-colada-cocktail.jpg);">
				<div class="title">
					<h4>Piña Colada</h4><span>Tropical vacation in a glass</span>
				</div>
				<div class="faves">
					<span class="votes"><i class="fa fa-thumbs-up"></i></span>
					<span class="counter">33</span>
				</div>
			</a>
		</div>
		<div class="grid grid--center center">
			<div class="grid-cell">
				<h3>Popular cocktails</h3>
				<h5>Discover, inspire, get tipsy!</h5>
			</div>
		</div>
		<div class="grid center favorites">
			<div class="grid-cell">
				<h2>Most liked</h2>
				<div class="grid grid--center item" ng-repeat="drink in topDrinks">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
			<div class="grid-cell">
				<h2>Popular gin cocktails</h2>
				<div class="grid grid--center item" ng-repeat="drink in topGinDrinks">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
			<div class="grid-cell">
				<h2>Popular vodka cocktails</h2>
				<div class="grid grid--center item" ng-repeat="drink in topVodkaDrinks">
					<div class="grid-cell name"><a ng-href="{{drink.getUrl()}}" ng-bind="drink.name"></a></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-flask"></i> <small>{{drink.ingredient_ct}}</small></div>
					<div class="grid-cell grid--shrink"><i class="fa fa-thumbs-up"></i> <small>{{drink.score}}</small></div>
				</div>
			</div>
		</div>
	</div>
</div>