/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'angular-ui-select/dist/select.min'
 *= require image-resize-crop-canvas/component
 *= require bootstrap-slider
 *= require_tree .
 *= require_self
 */

html {
  overflow-x: hidden;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  color: #6f7c82;
  position: relative;
  transition-duration: 0.5s;
  transition-property: top, bottom, left, right;
}
.disable-hover {
  pointer-events: none;
}
.fa,
.sprite,
.actions {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#fuzzy-finder .ui-select-match::before {
  font-family: 'FontAwesome';
  content: '\f002';
  left: 8px;
  margin-right: 0.5em;
  position: absolute;
  top: 8px;
  z-index: 3000;
  color: #aaa;
}
/* This rule prevents the magnifying glass icon from overlapping the placeholder text when the select element is not focused */
#fuzzy-finder .ui-select-match > span:first-child > span:first-child {
  padding-left: 16px;
}
#fuzzy-finder ul.ui-select-choices {
  padding-left: 0;
  top: 34px;
}
#fuzzy-finder .ui-select-choices-row .ingredient::before {
  font-family: 'FontAwesome';
  content: '\f1b1';
  margin-right: 0.5em;
}
#fuzzy-finder .ui-select-choices-row .drink::before {
  font-family: 'FontAwesome';
  content: '\f000';
  margin-right: 0.5em;
}
/* Override Bootstrap to facilitate AngularJS */
body .dropdown-menu {
  display: initial;
}
:focus,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
a.nolink {
  color: black;
}
.flash-notice {
  background: #cfc;
  padding: 6px 30px;
  text-align: center;
}
.flash-alert {
  background: #eec;
  padding: 6px 30px;
  text-align: center;
}
.flash-error {
  background: #fcc;
  padding: 6px 30px;
  text-align: center;
}
.flash-notice:empty,
.flash-alert:empty,
.flash-error:empty {
  display: none;
}
label {
  margin-bottom: 0;
}

/* Colours */
.gold {
  color: #ffd700;
}
.silver {
  color: #c0c0c0;
}
.bronze {
  color: #c87533;
}

i i::before {
  font-size: 6pt;
  left: -2px;
  bottom: -2px;
  position: relative;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

/* ==========================================================================
   AngularJS classes
   ========================================================================== */

.ng-invalid {
  box-shadow: 0 0 5px red;
}

/* ==========================================================================
   Diffing
   ========================================================================== */

del {
  background: #faa;
  text-decoration: line-through;
}
ins {
  background: #afa;
}

/* ==========================================================================
   Tipsyology
   ========================================================================== */

a {
  color: #0091ce;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0074a5;
}
.splash a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.splash a .fa {
  font-size: 22px;
  position: relative;
  bottom: -2px;
  margin-right: 6px;
}
.wrapper {
  margin: 0 auto;
  min-width: 300px;
}
.logged-out-nav {
  position: fixed;
  top: 10px;
  right: 10px;
}
.btn.btn-white {
  color: #337ab7;
  background-color: #fff;
  border-color: transparent;
}
.btn.btn-white:hover {
  background-color: #f8f9fb;
}
.logged-out-nav .btn {
  min-width: 100px;
  max-width: 100px;
  padding: 9px 10px;
  font-size: 12px;
}
.logged-out-nav .btn:first-child {
  margin-right: 6px;
}
#find-results {
  padding: 0 0 40px 0;
}
#find-results h4 {
  margin: 0;
  padding: 0 0 20px 0;
}
#find-results .results-list,
#find-results .suggestions-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}
#find-results .filters {
  padding: 10px 20px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #ededed;
  flex-wrap: wrap;
}
#find-results .filters .grid-cell {
  flex: 0 1 auto;
}
#find-results .filters .grid-cell:first-child {
  margin-right: 5px;
  font-weight: bold;
}
#find-results .filters .clear {
  padding-left: 10px;
}

#find-results .btn-group {
  margin: 4px;
}
#find-results .btn {
  font-size: 12px;
}
#find-results .btn-primary {
  background-color: #267fdd;
  border-color: #267fdd;  
  box-shadow: 0 1px 0 rgba(0,0,0,.3);
  transition: all .4s;
}
#find-results .btn-primary:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}
#find-results .btn-primary {
  box-shadow: none;
  border-radius: 4px;
  padding: 2px 21px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}
#find-results .btn-group:hover .btn-primary {
  padding-right: 28px;
  padding-left: 14px;
  background-color: #337ab7;
  border-color: #337ab7;
}
#find-results .btn-group:hover .btn-primary.dropdown-toggle {
  right: 12px;
  padding-right: 0;
  padding-left: 0;
  visibility: visible;
  opacity: 1;
}
#find-results .btn-group .btn-primary.dropdown-toggle  {
  position: absolute;
  right: -8px;
  padding-right: 0;
  padding-left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  z-index: 10;
} 
#find-results .dropdown-menu {
  width: 40px;
  min-width: 40px;
  left: inherit;
  right: -3px;
  padding: 3px 0;
  background-color: rgb(74, 176, 176);
  border: none;
  box-shadow: none;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
#find-results .dropdown-menu:after {
  right: 14px;
  border-bottom-color: rgb(74, 176, 176);
}
#find-results .dropdown-menu:before {
  display: none;
}
#find-results .dropdown-menu>li>a {
  padding: 6px 0;
  text-align: center;
  color: #fff;
}
#find-results .dropdown-menu>li>a:focus,
#find-results .dropdown-menu>li>a:hover {
  background-color: rgb(53, 148, 148);
}
.logo a img {
  width: 100%;
  max-width: 110px;
  min-width: 110px;
}
.search .input-group-btn > .btn {
  border-color: #fff;
  border-radius: 0 4px 4px 0;
}
.search .form-control {
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
      box-shadow: none;
}
.sprite {
  background-image: url(/images/sprites.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite-fridge {
  width: 13px;
  height: 17px;
  background-position: -5px -5px;
}
a .sprite-fridge:hover,
a.active .sprite-fridge {
  background-position: -28px -5px;
}
.sprite-shopping-cart {
  width: 23px;
  height: 17px;
  background-position: -5px -32px;
}
a .sprite-shopping-cart:hover,
a.active .sprite-shopping-cart {
  background-position: -51px -5px;
}
label {
  vertical-align: middle;
}
img.hr {
  display: block;
  margin: 0 auto;
  margin: 20px auto;
  max-width: 260px;
  width: 100%;
}

/*** HEADER NAV STYLES ***/

header {
  clear: both;
  padding: 0;
  width: 100%;
  min-height: 56px;
  min-width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  transition: all .5s;
}
nav {
  height: 56px;
  min-width: 540px;
  color: #555;
  font-size: 13px;
  padding: 0 20px;
  background: #fff;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
nav a,
nav a:focus {
  font-size: 13px;
  font-weight: bold;
  color: #3498db;
  text-decoration: none;
}
nav a:hover {
  color: #337ab7;
  text-decoration: none;
}
nav .logo {
  max-width: 110px;
  margin-right: 16px;
}
nav .search {
  max-width: 300px;
  margin-right: auto;
}
nav > .grid-cell:first-child {
  padding-right: 16px;
}
nav .fa-bars {
  font-size: 14px;
  line-height: 56px;
  width: 28px;
  text-align: right;
}
nav .search .input-group {
  width: 100%;
}
nav .search .input-group .form-control {
  border-radius: 4px !important;
  border: 1px solid lightgray;
}
nav .logged-out,
nav .logged-in {
  flex: 0 1 auto;
}
nav .logged-out .grid-cell:first-child,
nav .logged-in .grid-cell:first-child {
  flex: 0 1 auto;
  padding-right: 16px;
  margin-right: auto;
}
nav .logged-out .grid-cell,
nav .logged-in .grid-cell {
  flex: 0 1 auto;
  margin-right: 16px;
}
nav .logged-out .grid-cell:last-child,
nav .logged-in .grid-cell:last-child {
  margin-right: -20px;
  padding-right: 20px;
  background: #fff;
}
nav .rep-cont .dropdown-menu {
  right: -50%;
  margin-right: 10px;
  padding: 5px;
}
nav .rep-cont a,
nav .trophie-cont a {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}
nav .open .rep-cont #rep-alerts,
nav .open .rep-cont #rep-alerts:hover {
  background-color: #fff;
  color: #555;
}
nav .rep-cont a:hover,
nav .trophie-cont a:hover {
  background-color: #267fdd;
  color: #fff;
}
nav .trophie-cont a i {
  margin-left: 6px;
}
nav .trophie-cont a i:first-child {
  margin-left: 0;
}
nav .user {
  cursor: pointer;
  padding: 0 0 0 16px;
  flex: 0 1 auto;
}
nav .user .avatar {
  height: 32px;
  width: 32px;
  overflow: hidden;
}
nav .user .avatar img {
  height: 32px;
  width: 32px;
  position: relative;
  display: block;
  border-radius: 4px;
  background: #BFE0EC;
}
nav .user .rep-change {
  background: #8fc77e;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
  margin-left: 5px;
  font-weight: bold;
}
nav .user .rep-change.negative {
  background: #f00;
}
nav .user li .rep-change {
  margin-left: 0;
  margin-right: 5px;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  font-size: 11px;
  min-width: 134px;
  margin:10px 0 0;
  right: 6px;
}
.avatar-cont .dropdown-menu {
  right: -18px;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 25px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 25px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.dropdown-menu > li > a {
  padding: 3px 14px;
}
.dropdown-menu > li > a .fa {
  min-width: 16px;
  display: inline-block;
}

/*** CONTENT GLOBAL STYLES ***/

#main-cont {
  min-height: 100vh;
  min-width: 100%;
  padding-top: 57px;
}
.content {
  min-height: 100vh;
  background-color:#fff;
}
.center {
  max-width: 960px;
  margin: 0 auto;
}
.content > p {
    font-size: 18px;
}
.content > p > .bold {
    font-weight: bold;
}
.red {
  color: red;
}
.results-filters {
  padding: 0 0 20px 0;
  border-bottom:solid 1px #d2d2d2;  
  align-items: center;
}
.results-filters .item {
  border-radius: 4px;
  color: #fff;
  background: #f38630;
  line-height: 26px;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 5px;
  cursor: pointer;

}
.results-filters .item:hover {
  background: #E87E29;
}
.results-filters .item.first {
  max-width: 60px;
  min-width: 60px;
  background: transparent;
  color: #939393;
  cursor: default;
}
.results-filters .item.last {
  max-width: 93px;
  min-width: 93px;
  background: transparent;
  color: #939393;
  margin-left: auto;
  padding-right: 0;
  margin-right: 0;
}
.results-filters .item.last .btn {
  font-size: 12px;
  line-height: 26px;
  padding: 0 8px;
}
.results-filters .item.last .dropdown-menu {
  font-size: 12px;
  min-width: 86px;
}
.results-filters .item.last .dropdown-menu li a {
  padding: 0 10px;
}
.results-filters .item.ingredient {
  overflow: hidden;
  -webkit-transition: padding-right ease-in-out .15s;
     -o-transition: padding-right ease-in-out .15s;
      transition: padding-right ease-in-out .15s;
}
.results-filters .item.ingredient:hover {
  padding-right: 27px;
}
.results-filters .item span.filter-item {
  position: relative;
}
.results-filters .item .fa-times-circle {
  color: #A85617;
  margin-left: 4px;
  position: absolute;
  top: 3px;
  right: -20px;
}
.results-filters .item .fa-times-circle:hover {
  color: #9B4909;
}
.results-sort {
  padding:14px;
  height:16px;
}
.results-sort .item {
  padding:0 12px 0 12px;
  text-align: center;
  max-width: 30%;
}
.results-list .item,
.suggestions-list .item {
  height:40px;
  padding: 3px 20px;
  margin:5px 0;
  background:#fff;
  border-radius: 4px;
  border:dashed 1px #fff;
  transition:border 100ms ease-in-out;
}
.results-list .item .fa,
.suggestions-list .item .fa {
  margin-right: 3px;
}
.results-list .item .grid-cell,
.suggestions-list .item .grid-cell {
  padding: 0 12px;
}
.results-list .item .grid-cell,
.suggestions-list .item .grid-cell {
  flex: 0 1 auto;
}
.results-list .item .grid-cell:first-child,
.suggestions-list .item .grid-cell:first-child {
  flex: 1;
  padding: 0 12px 0 0;
}
.results-list .item .grid-cell:last-child,
.suggestions-list .item .grid-cell:last-child {
  padding: 0 0 0 12px;
}
.results-list .item:hover,
.suggestions-list .item:hover {
  border:dashed 1px gray;
  cursor:pointer;
}
.results-list .item .checkmark,
.suggestions-list .item .checkmark {
  max-width:40px;
  text-align: center;
}
.results-list .item .checkmark .fa-check-square,
.suggestions-list .item .checkmark .fa-check-square {
  color: #5cb85c;
}
.results-list .item .name,,
.suggestions-list .item .name {
  max-width:490px;
  font-size:14px;
}
.results-list .item .comments,
.suggestions-list .item .comments {
  max-width:74px;
  font-size:13px;
  color:#939393;
  text-align: center;
}
.results-list .item .rating,
.suggestions-list .item .rating {
  max-width:120px;
  font-size:13px;
  color:#939393;
  text-align: center;
}
.results-list .item .favorite,
.suggestions-list .item .favorite {
  max-width:17px;
  margin:0 0 0 8px;
  color:#939393;
  text-align: center;
}
#sidebar-r,
#sidebar-l {
  background-color: #262D2D;
  height: 100vh !important;  
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  overflow-y: scroll;
  top: 57px !important;
}
.sidebar-controls {
  height: 57px;
  line-height: 57px;
}
.sidebar-controls .btn:first-child {
  margin-left: 20px;
}
.ingredients-list {
  padding-bottom: 10px;
}
.ingredients-list ul,
.shopping-list ul {
  margin:0 0 18px 0;
  padding:0;
  list-style:none;
  color:#fff;
  border-radius: 4px;
}
#sidebar-r ul li:first-child {
  font-size: 14px !important;
  font-weight: 600;
  padding: 10px 20px;
  background: rgba(255,255,255,0.05);
}
#sidebar-r ul li:first-child i {
  float: right;
  padding-right: 5px;
}
.ingredients-list ul li,
.shopping-list ul li {
  font-size: 12px;
  padding: 10px 20px;
}
.ingredients-list ul li.item,
.shopping-list ul li.item {
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  padding-right: 30px !important;
}
.ingredients-list ul li.item:hover,
.shopping-list ul li.item:hover {
  background: rgba(0,0,0,0.2);
}
aside a {
  color: #fff;
  font-weight: bold;
}
aside li:hover {
  background: rgba(0,0,0,0.2);
}
aside li.item .fa {
  color: #000;
  position: absolute;
  right: 10px;
  top: 50%;
  text-align: center;
  margin-top: -20px;
  opacity: .5;
  transition: .3s;
  width: 40px;
  line-height: 40px;
  font-size: 16px;
}
aside li.item:hover .fa {
  color: #fff;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
aside li.item .fa:hover {
  background: rgba(0,0,0,0.5);
}
aside .btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,.3);
  transition: all .4s;
}
aside .btn-primary:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: #000;
}
aside .trophie-cont {
  padding: 0 20px;
  cursor: pointer;
  transition: all .4s;
}
aside .trophie-cont:hover {
  background: rgba(0,0,0,0.2);
}
.ingredients-list a,
.shopping-list a {
  text-decoration: none;
  cursor: pointer;
}
#landing .search {
  max-width: 340px;
  margin: auto;
}
#landing .search p {
  margin: 14px 0;
}
#landing .search > div {
  border-radius: 2px;
  background-clip: padding-box;
}
#landing .search > div * {
  border-radius: 2px;
}
.signin.grid.modal-content {
  height: initial;
  padding: 16px;
  background: transparent;
}
.signin.grid {
  height: 100vh;
  background-color: #1d2c3f;
  color: #fff;
  flex-direction: column;
}
.signin.grid .links,
.splash.grid .links {
  text-align: center;
  font-size: 13px;
}
.signin.grid > .grid-cell:first-child,
.splash.grid > .grid-cell:first-child {
  margin: auto; 
  max-width: 360px;
  box-sizing: border-box;
  flex: 0 1 auto;
  background-color: #f8f9fb;
  padding: 30px;
  color: #333;
  border-radius: 7px;
}
.signin.grid .grid-cell .logo,
.splash.grid .grid-cell .logo {
  display: block;
  margin: 0 auto 30px auto;
  width: 70%;
}
.signin.grid .grid-cell p,
.splash.grid .grid-cell p {
  margin: 14px 0 14px 0;
  text-align: center;
}
.signin .btn-primary,
.splash .btn-primary {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
}
.signin.grid .grid-cell form,
.splash.grid .grid-cell form {
  padding: 0;
}
.signin.grid .grid-cell .links a {
  font-weight: bold;
}
.signin.grid .grid-cell a:hover {
  text-decoration: underline;
}
.signin.grid .grid-cell label {
  font-size: 11px;
  margin-left: 4px;
}
.signin.grid .grid-cell .input-group,
.signin.grid .grid-cell .actions {
  margin-top: 14px;
}
.signin.grid .grid-cell .input-group:first-of-type {
  margin-top: 0;
}
.signin.grid .grid-cell .input-group-addon {
  min-width: 39px;
  background-color: #fff;
}
.signin.grid .grid-cell .input-group-addon .fa {
  font-size: 12px;
}
.signin.grid .grid-cell input[type="password"],
.signin.grid .grid-cell input[type="email"],
.signin.grid .grid-cell input[type="text"] {
  background-color: #fff;
}
.signin.grid .grid-cell input[type="password"],
.signin.grid .grid-cell input[type="email"],
.signin.grid .grid-cell input[type="submit"] {
  width: 100%;
}
.signin.grid .grid-cell .btn.facebook {
  display: block;
  background: #4E69A2;
  color: #fff;
  border: 1px solid transparent;
  padding-top: 9px;
  padding-bottom: 9px;
}
.signin.grid .grid-cell .btn.facebook:hover {
  text-decoration: none;
  background: #4c6eb8;
}
.form-control {
  box-shadow: none;
}
.input-group-addon:last-child {
  border-left: 1px solid #ccc;
}
.form-group-lg .form-control,
.form-group textarea {
  font-size: 17px;
  line-height: 22px;
}

.grid {
  display: flex;
}
.grid-cell {
  flex: 1;
}
/* With gutters */
.grid--gutters {
  margin: -1em -1em -1em -1em;
}
.grid--gutters > .grid-cell {
  padding: 1em 1em 1em 1em;
}
.grid--shrink {
  flex: 0 1 auto;
}
/* Alignment per row */
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}
.grid--column {
  flex-direction: column;
}
/* Alignment per cell */
.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
  max-width: 50%;
}
.aligner-item--top {
  align-self: flex-start;
}
.aligner-item--bottom {
  align-self: flex-end;
}
/* Make angularjs ui-select work with bootstrap css */
.ui-select-bootstrap.dropdown .ui-select-choices {
  display: none;
}
.ui-select-bootstrap.dropdown.open .ui-select-choices {
  display: initial;
}
#fuzzy-finder .ui-select-match a .fa {
  font-size: 13px;
}
.fa-thumbs-o-up.highlight,
.fa-thumbs-o-down.highlight,
.fa-thumbs-up.highlight,
.fa-thumbs-down.highlight,
.fa-caret-up.highlight,
.fa-caret-down.highlight {
  color: orange;
}
/*** DISCOVER STYLES+OVERRIDES ***/

#home > .hero {
  background: url('/images/drinks/summer-cocktails.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 40vh;
  position: relative;
  display: flex;
  border-top: 0;
  padding: 0;
}
#home > .hero:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}
#home > .hero:after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, transparent), color-stop(100%, #000));
  background-image: -moz-linear-gradient(transparent 50%, #000);
  background-image: -webkit-linear-gradient(transparent 50%, #000);
  background-image: linear-gradient(transparent 50%, #000);
  -webkit-transition: opacity 0.25s ease 0s;
  -o-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
}
#home > .hero .center {
  max-width: 100%;
  width: 100%;
}
#home h1,
#home h2,
#home h3,
#home h4,
#home h5 {
  text-align: center;
}
.hero h1 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 100;
  display: block;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0,0,0,0.6);
  position: relative;
  z-index: 2;
  margin-top: 0;
}
.hero h4 {
  color: #fff;
  font-size: 2.6em;
  font-weight: 600;
  display: block;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0,0,0,0.6);
  position: relative;
  z-index: 2;
}
#home h2 {
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  margin: 0 0 10px 0;
}
#home h3 {
  font-size: 33px;
  font-weight: 600;
}
#home .hero .grid {
  position: relative;
}
#home .hero .grid,
#home .hero .grid .grid-cell,
#home .hero .grid ng-include {
  z-index: 5;
}
#home .hero .grid-cell > .btn {
  border-color: #fff;
  margin: 20px 0 4px 0;
  font-size: 16px;
}
#home .hero .fuzzy-finder {
  width: 100%;
  margin: 40px 0 0 0;
  padding: 30px 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#home .hero #fuzzy-finder {
  max-width: 660px;
  margin: 0 auto;
}
#home .hero .grid .grid-cell {
  margin: auto;
  padding-bottom: 102px;
}
#home .hero .ui-select-search,
#home .hero .ui-select-toggle {
  background-color: #fff;
  border-color: #fff;
  padding: 9px 15px;
  height: 42px;
  border-radius: 3px;
}
#home .hero #fuzzy-finder > div > div > span > span {
  color: #565a5c;
  font-size: 16px;
  padding-left: 26px;
}
#home .hero .ui-select-match::before {
  color: #565a5c;
  font-size: 16px;
  top: 9px;
  left: 17px;
}
#home .hero input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
#home .hero input:-moz-placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
#home .hero input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
#home .hero input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}
#home .hero #fuzzy-finder ul.ui-select-choices {
  top: 46px;
}
#home .top-lists {
  padding: 30px 0 80px 0;
}
#home .top-lists > .grid.favorites > .grid-cell {
  padding: 20px 20px 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fdfdfd;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
#home .top-lists > .grid > .grid-cell:last-child {
  margin-right: 0;
}
#home .top-lists > .grid.favorites > .grid-cell .fa {
  color: #0091ce;
}
#home .item {
  height: 40px;
  padding: 3px 0;
  margin: 5px 0;
}
#home .item .grid-cell {
  padding-right: 15px;
}
#home .item .grid-cell:last-child {
  padding-right: 0;
}
#home .picks,
#home .favorites {
  padding: 40px 0;
}
#home .favorites .grid-cell.name {
  font-size: 14px;
}
#home .picks a.grid-cell {
  position: relative;
  color: #fff;
  height: 320px;
  margin-right: 20px;
  background-color: #004052;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  transition: all 0.25s ease 0s;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  position: relative;
  top: 0;
}
#home .picks a.grid-cell:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
  top: -4px;
}
#home .picks a.grid-cell:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  overflow: hidden;
}
#home .picks a.grid-cell:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
#home .picks a.grid-cell:after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, transparent), color-stop(100%, #000));
  background-image: -moz-linear-gradient(transparent 50%, #000);
  background-image: -webkit-linear-gradient(transparent 50%, #000);
  background-image: linear-gradient(transparent 50%, #000);
  -webkit-transition: opacity 0.25s ease 0s;
  -o-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
  border-radius: 4px;
  overflow: hidden;
}
#home .picks .grid-cell .title {
  position: absolute;
  z-index: 3;
  top: 114px;
  left: 0;
  right: 0;
  padding: 0 8px;
  text-align: center;
}
#home .picks .grid-cell .title h4 {
  font-weight: 400;
  font-size: 2.2em;
  margin-bottom: 4px;
  letter-spacing: -0.03em;
}
#home .picks .grid-cell .title span {
  color: #eaeaea;
  font-size: 14px;
}
#home .picks .grid-cell .faves {
    position: absolute;
    z-index: 3;
    bottom: 8px;
    right: 10px;
}
#home .picks .grid-cell .faves .votes {
    font-size: 1.2em;
    color: #20C57B;
}

/*** DRINK/INGREDIENT/RECIPE-EDITOR/TIPS STYLES ***/

#drink-page h1,
#ingredient-page h1 {
  font-weight: 600;
  margin: 0;
  padding: 0 0 6px 0;
  color: #444;
}
#drink-page h3,
#ingredient-page h3 {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #444;
}
#drink-page .center,
#recipe-editor .center,
#ingredient-page .center,
#profile-page .center,
#ingredient-page .center {
  max-width: 600px;
}
#drink-page .photos {
  min-height: 50vh;
  border-bottom: 1px solid #ededed;
  background: url(/images/img-upload.png) no-repeat center #FBFBFB;
  background-position: calc(50% + 8px) calc(50% - 30px);
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  margin-right: -10px;
  margin-left: -10px;
}
.info-wrap {
  background-color: #fff;
  position: relative;
  z-index: 1;
}
#drink-page .add-photo {
  position: absolute;
  bottom: 12%;
  width: 100%;
}
#drink-page .add-photo button {
  margin-top: 14px;
}
#drink-page .row,
#recipe-editor .row,
#ingredient-page .row {
  padding: 0 0 40px 0;
}
#recipe-editor .row:first-child,
#ingredient-page .row:first-child {
  padding: 40px 0;
}
#drink-page .votes {
  text-align: center;
}
#drink-page .votes > div {
  font-size: 14px;
  display: inline-block;
  padding: .5em;
  border: 1px solid rgba(136, 153, 166, 0.5);
}
#drink-page .votes > div a {
  color: #8899a6;
}
#drink-page .votes > div:nth-of-type(1) {
  padding-left: .7em;
  padding-right: .7em;
  border-radius: 4px 0 0 4px;
  border-right: none;
}
#drink-page .votes > div:nth-of-type(1):hover {
  background: #E1E8ED;
}
#drink-page .votes > div:nth-of-type(2) {
  padding-right: 1.2em;
  padding-left: 1.2em;
  position: relative;
  margin-right: -1px;
  margin-left: -1px;
  border-left: none;
  border-right: none;
}
#drink-page .votes > div:nth-of-type(3) {
  padding-right: .7em;
  padding-left: .7em;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
#drink-page .votes > div:nth-of-type(3):hover {
  background: #E1E8ED;
}
#drink-page .votes .fa {
  font-size: 16px;
}
#drink-page .votes .arrow:hover .fa {
  color: #8899a6;
}
#drink-page .rating {
  display: inline-block;
  padding: 2px 0 6px 0;
}
#drink-page .social-share-bar {
  display: block;
  height: 24px;
  font-size: 11px;
  padding: 3px;
}
#drink-page .social-share-bar a {
  color: #000;
  opacity: 0.5;
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid lightgray;
}
#drink-page .social-share-bar a:last-child {
  border-right: none;
}
#drink-page .social-share-bar a:hover {
  opacity: 1;
}
#drink-page .fa-clock-o,
#drink-page .fa-fire {
  font-size: 22px;
  color: #0091CE;
}
#drink-page .ingredients {
  max-width: 100%;
}
#drink-page .ingredients .ingredient {
  padding: 6px 0;
  text-transform: capitalize;
}
#drink-page .ingredients .ingredient > .grid-cell {
  line-height: 22px;
}
#drink-page .ingredients .ingredient .name,
#drink-page .ingredients .ingredient .amount {
  font-size: 14px;
}
#drink-page .ingredients .ingredient .amount {
  text-align: right;
}
#drink-page .ingredients .ingredient .actions {
  max-width: 80px;
}
#drink-page .grid-cell.actions a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
}
#drink-page .grid-cell.actions a i {
  margin-bottom: -5px;
}
#drink-page a .fa-flag.highlight {
  color: goldenrod;
  text-shadow: 1px 1px 1px red, -1px -1px 1px red, -1px 1px 1px red, 1px -1px 1px red
}
#drink-page a .fa-flag:hover {
  color: red;
  cursor: pointer;
}
#drink-page a .fa-pencil:hover,
#drink-page a.fa-pencil:hover {
  color: red;
  cursor: pointer;
}
#drink-flag-modal {
  padding: 15px;
}
#drink-flag-modal .diff del,
#drink-flag-modal .diff span {
  background: #ddd;
  color: #888;
}
#drink-page .full-bleed {
  padding: 90px 0;
  margin-top: 70px;
  background-image: radial-gradient(circle farthest-corner at right bottom, #1bc4bf 0%, #41a9cc 28%, #3597c2 57%, #41a9cc 100%);
}
#drink-page .similar-drinks {
  max-width: 100%;
  width: 100%;
  padding: 0 40px;
}
#drink-page .similar-drinks h3 {
  font-size: 1.5em;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}
#drink-page .similar-drinks > .grid-cell > .grid {
  justify-content: center;
  flex-wrap: wrap;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell {
  min-width: 200px;
  max-width: 200px;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid,
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid > .grid-cell {
  width: 100%;
  background-color: #fff;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child {
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  transition: all .3s;
  position: relative;
  top: 0;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6);
  top: -4px;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child > .grid-cell:nth-of-type(2) {
  background: #fff;
  border-top: 1px solid #BFE0EC;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child > .grid-cell:last-child {
  background: #fff;
  border-top: 1px solid #BFE0EC;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child > .grid-cell:last-child .grid {
  padding: 12px 0;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child > .grid-cell:last-child .grid-cell {
  text-align: center;
  padding: 0 12px;
}
#drink-page .similar-drinks > .grid-cell > .grid > .grid-cell > .grid:last-child > .grid-cell:last-child .grid-cell:first-child {
  border-right: 1px solid #BFE0EC;;
}
#drink-page .similar-drinks .grid .grid-cell .image {
  min-width: 100%;
}
#drink-page .similar-drinks .grid .grid-cell .image .fa {
  font-size: 46px;
  display: block;
  padding: 50px 0;
  text-align: center;
  color: #BFE0EC;
}
#drink-page .similar-drinks .grid .grid-cell .name {
  display: block;
  min-width: 100%;
  text-align: center;
  padding: 12px 12px;
  font-size: 12px;
  flex: 1 0 auto;    
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #292f33;
}
.full-bleed {
  border-top: 1px solid #e1e8ed;
  background: #FBFBFB;
  padding: 40px 0;
}
#tips {
  padding: 1em 0;
}
#tips .grid > .grid-cell:first-child {
  margin-right: 1em;
}
#tips .grid > .grid-cell:last-child > .grid {
  padding-bottom: 5px;
}
#drink-page .favit {
  color: #29BC7A;
}
#drink-page .favit:hover .fa:before {
  content: "\f004";
}

/*** RECIPE EDITOR ***/


#recipe-editor h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}
#recipe-editor .form-group {
  margin-bottom: 0;
}
#recipe-editor .description textarea {
  max-width: 598px;
}
#recipe-editor .directions .step {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}
#recipe-editor .directions .step:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  display: block;
  border: 3px solid #212121;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 24px;
  font-weight: bold;
  counter-increment: step;
  content: counter(step);
}
#recipe-editor .directions textarea {
  max-width: 504.84px;
  width: 100%;
}
#recipe-editor .form-group .qty {
  width: 160px;
  flex: 0 1 auto;
}
#recipe-editor .ingredients .form-group .grid .grid-cell:nth-of-type(3),
#recipe-editor .ingredients .form-group .grid .grid-cell:nth-of-type(4) {
  flex: 0 1 auto;
}
#recipe-editor .ingredients li.grid .grid-cell:first-child {
  cursor: move;
  padding-left: 0;
}
#recipe-editor .ingredients li.grid .grid-cell:last-child {
  padding-right: 0;
}
#recipe-editor .fa-times-circle {
  opacity: 0.7;
  font-size: 14px;
  color: red;
}
#recipe-editor .ingredients li.grid .grid-cell:first-child:hover .fa {
  opacity: 1;
}
#recipe-editor .directions .form-group {
  counter-reset: step;
}
.slider .slider-handle:before {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  z-index: 1;
  box-shadow: 0 0 3px 2px rgb(171, 173, 172);
  border-radius: 50%;
  transition: all .4s;
}
.slider:hover .slider-handle:before {
  opacity: 1;
}
.sliders .alcohol .slider-selection {
  background-color: #7FC7AF;
}
.sliders .fruitiness .slider-selection {
  background-color: #A5CD52;
}
.sliders .sweetness .slider-selection {
  background-color: #FF4E50;
}
.sliders .spiciness .slider-selection {
  background-color: #C4975C;
}
.sliders .bitterness .slider-selection {
  background-color: #CDB7B5;
}
.sliders .sourness .slider-selection {
  background-color: #B5C53D;
}
.sliders .saltiness .slider-selection {
  background-color: #D8D8C0;
}
.sliders .creaminess .slider-selection {
  background-color: #FFF8DB;
}
.sliders .bubbliness .slider-selection {
  background-color: #F59982;
}
.sliders .dryness .slider-selection {
  background-color: #BBEED9;
}

/*** DRAG-AND-DROP LISTS ***/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list] {
  margin: 0;
}
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}
/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}
/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #efefef;
  min-height: 72px;
  border-radius: 6px;
  border: dashed 1px #bbb;
  margin-left: -10px;
  margin-right: -10px;
}
ul[dnd-list] .dndDragging {
  background-color: #efefef !important;
  border-radius: 6px !important;
  border: dashed 1px #bbb !important;
}
/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
  background-color: #fff;
  border-radius: 6px;
  transition: all 1s;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 15px;
  border: dashed 1px transparent;
}
ul[dnd-list] li.hover {
  background-color: #fefefe;
  border: dashed 1px #efefef;
}
/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
}

/*** IMAGE EDITOR / UPLOADER ***/

tipsy-image-editor > div {
  padding: 16px;
}
tipsy-image-editor a.btn {
  top: 12px;
  left: 12px;
  opacity: 0.4;
  position: absolute;
}
tipsy-image-editor a.btn:hover {
  opacity: 1;
}
.modal-max {
  margin: 5%;
  min-height: 90%;
  width: 90%;
}
.uploader {
  padding: 0 20px 20px 20px;
}
.uploader .progress-striped {
  margin-right: -20px;
  margin-left: -20px;
  border-radius: 0;
}
.uploader button {
  margin-top: 20px;
}
.uploader div.upload {
  display: block;
  margin: 20px auto 25px auto;
  overflow: hidden;
}
.uploader div.upload input[type=file] {
  margin: auto;
}
.uploader #dnd-target {
  border: 8px dashed grey;
  padding: 32px;
}
.uploader #dnd-target.dragged-over {
  border: 8px dashed red;
}

/*** DRINK PAGE STYLES:Comments ***/
#comments {
  font-size: 14px;
}
#comments .comment:last-child {
  margin-bottom: 0;
}
#comments .comment .comment-id {
  flex: 0 1 auto;
  width: 100%;
}
.comments-cont {
  margin-right: -1em;
  margin-left: -1em;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}
.comments-cont section {
  padding: 0 !important;
}
.comments-cont section h3,
.comments-cont #comments .comment {
  padding: 1em;
  margin-bottom: 0 !important;
  border-bottom: 1px solid lightgray;
}
.comments-cont #comments .comment:last-child {
  border-bottom: none;
}
.comments-cont #comments .comment > .grid .grid-cell:first-child {
  padding-right: 1em;
}
.comments-cont #comments .comment .name,
#tips .name {
  color: #444;
  font-weight: bold;
}
.comments-cont #comments .comment .date {
    opacity: .6;
}
.comments-cont #comments .comment .date:before {
    content: "\00b7";
}
.comments-cont .grid:first-child h3 {
  margin-bottom: 0 !important;
}
.comments-cont .comment-box {
  padding: 1em !important;
}
.comments-cont > .grid {
  padding: 1em;
  border: 1px solid lightgray;
}
.comments-cont > .grid {
  border-radius: 4px 4px 0 0;
  border-color: #BFE0EC;
  background-color: #E5F2F7;
}
.comments-cont > .grid:nth-of-type(2) {
  border-radius: 0;
  border-top: none;
}
.comments-cont > .grid:last-child {
  border-radius: 0 0 4px 4px;
  border-top: none;
  background-color: transparent;
  border-color: lightgray;
}
.comments-cont .avatar,
#tips .avatar {
  height: 32px;
  width: 32px;
  position: relative;
  display: block;
  border-radius: 3px;
  background: #BFE0EC;
}
.comment-box .grid-cell .grid .grid-cell:first-child {
  padding-right: 0;
}
.no-comments {
  display:block;
  padding: 2em 1em;
  font-style: italic;
  opacity: .8;
  text-align: center;
}
.no-comments .fa {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
  opacity: .8;
}
.comment-box textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #BFE0EC;
  height: 60px;
  transition: height .3s ease-out;
}
.comment-box textarea:focus {
  height: 120px;
}
.comment-box .grid-cell .grid .grid-cell:last-child {
  position: relative;
}
.comment-box .grid-cell .grid .grid-cell:last-child:before {
  background-color: #fff;
  box-shadow: -1px 1px 1px 0 #BFE0EC;
  content: "\00a0";
  display: block;
  height: 10px;
  left: 12px;
  position: absolute;
  top: 25px;
  transform:             rotate( 45deg );
      -moz-transform:    rotate( 45deg );
      -ms-transform:     rotate( 45deg );
      -o-transform:      rotate( 45deg );
      -webkit-transform: rotate( 45deg );
  width:  10px;
}
.comment-actions {
  display: block;
  padding-top: 18px;
}
.comment-actions a {
  display: inline-block;
  color: #8899a6;
  text-align: center;
}
.comment-actions span {
  position: relative;
  opacity: .8;
  padding-left: 9px;
  margin-left: 9px;
  font-size: 88%;
}
.comment-actions span .fa {
  font-size: 16px;
  width: 16px;
}
.comment-actions span:first-child {
  padding-left: 0;
  margin-left: 0;
}
.comment-actions span:first-child a:hover {
  color: #7b57af;
}
.comment-actions span:first-child:before,
.comment-actions span:last-child:before {
  display: none;
}
#comments .comment .comment-actions span:last-child a {
  opacity: 0;
  transition: all .4s;
  color: #000;
}
#comments .comment:hover .comment-actions span:last-child a {
  opacity: .5;
  transition: all .4s;
}
#comments .comment:hover .comment-actions span:last-child a:hover {
  opacity: 1;
  transition: all .4s;
}
.comment-actions .comment-vote a:first-child {
  margin-right: 4px;
}
.comment-actions a:hover {
  color: #0091CE;
}
.comment-actions .comment-vote a:last-child {
  margin-left: 4px;
}
#comments .comment .comment-vote a:hover .fa-thumbs-o-up:before {
  content:'\f164';
}
#comments .comment .comment-vote a:hover .fa-thumbs-o-down:before {
  content:'\f165';
}

/*** ACCOUNT SETTINGS ***/

.account-settings {
  padding: 30px 0;
}
.account-settings .nav {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.account-settings .nav .grid-cell {
  flex: 0 1 auto;
  padding: 0 8px 10px 10px;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}
.account-settings .nav .grid-cell a {
  text-decoration: none;
  color: black;
}
.account-settings .nav .grid-cell:hover,
.account-settings .nav .grid-cell.active {
  border-bottom: 2px solid black;
}
.account-settings .nav .grid-cell.active a {
  font-weight: bold;
}
.account-settings .grid .grid-cell .grid .grid-cell {
  padding: 6px 0;
}
.account-settings .grid .grid-cell .grid .grid-cell:first-child {
  max-width: 200px;
}
.account-settings .grid .grid-cell.form-item {
  max-width: 246px;
}
.account-settings .grid .grid-cell.avatar {
  max-width: 48px;
  height: 48px;
  margin-right: 10px;
  padding: 0;
}
.account-settings .profile {
  margin-bottom: 20px;
}
.account-settings input:not([type='checkbox']) {
  height: 30px;
  padding: 3px 6px;
}
.account-settings .form-control input:not([type='checkbox']),
.account-settings .form-control textarea {
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 100%;
}
.account-settings .main .grid .grid-cell:first-child {
  padding-right: 20px;
  text-align: right;
}
.account-settings .main .grid .avatar {
  max-width: 88px;
  height: inherit;
  text-align: center;
  box-sizing: content-box;
}
.account-settings .main .grid .avatar a {
  font-size: 11px;
}
.account-settings .main .grid .avatar img {
  width: 68px;
  height: 68px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #fff;
}
.account-settings .avatar img {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
  border-radius: 4px;
  border: 1px solid #fff;
}
.account-settings h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}
.account-settings h2 {  
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  margin: 0;
}
.content a.fa-pencil,
.content a.fa-flag {
  color: #000;
  opacity: 0.15;
  margin-left: 6px;
  font-size: 88%;
  cursor: pointer;
  text-decoration: none;
}
.content a.fa-pencil:hover,
.content a.fa-flag:hover {
  opacity: 1;
}
/*** NG-PAGESLIDE ***/
.ng-pageslide {
  background: #eee;
}

/*** FAVOURITES STYLES ***/

.favourite-collection img {
  width: 64px;
  height: 64px;
}

/*** NANO SCROLL STYLES ***/

.nano {
  /* overflow: hidden; */
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 0;
  padding-right: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background: rgba(0,0,0,.25);
  position: absolute;
  display: block !important;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9; /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
/*** REVIEW MODAL ***/

.review-modal{
  
}

/*** FOOTER STYLES ***/

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
footer.fixed {
  max-width: 100%;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: transparent;
  color: #fff;
  flex: 0 1 auto;
}
footer.fixed {
  background: #181a1a;
}
footer.in-app {
  background: #263444;
  min-height: 120px;
  padding: 40px 0;
}
footer.fixed .grid .grid-cell.socials,
footer.in-app .grid .grid-cell.socials {
  padding: 0 0 0 20px;
  flex: 0 1 auto;
}
footer.fixed .grid .grid-cell.socials .fa,
footer.in-app .grid .grid-cell.socials .fa {
  margin-right: 6px;
  font-size: 18px;
  color: #aaa;
}
footer.fixed .grid .grid-cell.copyright,
footer.in-app .grid .grid-cell.copyright {
  color: #aaa;
  font-size: 11px;
}
footer a:hover {
  color: #00B3FF;
}
footer .fa:hover {
  color: #00B3FF;
}
footer.fixed .grid .grid-cell.copyright {
  padding-right: 102px;
}
footer.in-app .row {
  margin-bottom: 20px;
}

/* NOTICE STYLES */

.notice-error,
.notice-success {
  padding: 10px 0;
  display: block;
  opacity: .8;
  text-align: center;
}
.notice-error .fa,
.notice-success .fa {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.notice-error button,
.notice-success button {
  text-align: center;
  margin-top: 20px;
}
.notice-success .fa {
  font-size: 60px;
  color: #51BE38;
}

/* FULL MODAL + IMAGE CROPPER */

.modal-full,
.modal-full > .modal-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.modal-full .modal-close-trigger {
  padding: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.modal-full .full-modal-content {
  border-radius: 32px;
  width: 100%;
  min-height: 100%;
  background-color: white;
  position: relative;
}
.modal-full #cropper-controls {
  padding: 12px;
  background-color: #ddd;
  border: 4px solid white;
  border-radius: 32px 32px 0 0;
}
#cropper-proper {
  position: relative;
  overflow-x: auto;
  cursor: -webkit-grab;
}
#cropper-proper > * {
}
#cropper-proper > .overlay-border {
  position: absolute;
  border: 2px solid yellow;
}
#cropper-proper > .overlay-tile {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
}
#cropper-proper > .overlay-tile.ee:before,
#cropper-proper > .overlay-tile.ww:before,
#cropper-proper > .overlay-tile.nn:before,
#cropper-proper > .overlay-tile.ss:before { 
  position: absolute;
  content: "";
  z-index: 1051;
}
#cropper-proper > .overlay-tile.ee:before {
  width: 24px;
  left: -12px;
  height: 100%;
  cursor: e-resize;
}
#cropper-proper > .overlay-tile.ww:before {
  width: 24px;
  right: -12px;
  height: 100%;
  cursor: w-resize;
}
#cropper-proper > .overlay-tile.nn:before {
  height: 24px;
  bottom: -12px;
  width: 100%;
  cursor: n-resize;
}
#cropper-proper > .overlay-tile.ss:before {
  height: 24px;
  top: -12px;
  width: 100%;
  cursor: s-resize;
}
/* BOOTSTRAP OVERRIIDES */
h1 {
  font-size: 33px;
}
.btn {
  border-radius: 2px;
}
.btn-primary {
  background-color: #8bbf5a;
  border-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #9ACA6D;
  border-color: transparent;
  text-decoration: none !important;
}
body.modal-open {
  height: 100vh;
  overflow: hidden;
}
.modal-content {
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.modal-header {
  background: #FBFBFB;
  border-bottom: 1px solid #ededed;
  padding: 6px 15px;
  border-radius: 4px 4px 0 0;
}
.modal-header .close {
  font-size: 30px;
}
.modal-content p {
  margin-bottom: 0;
}
.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio],
input[type=checkbox], 
input[type=radio] {
  position: relative;
  bottom: -2px;
}
.signin .form-control {
  height: 40px;
}
.badge {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  line-height: inherit;
  color: #3498db;
  background-color: transparent;
  font-size: 13px;
}
header .review:hover .badge {
  background-color: #267fdd;
  color: #fff;
}

@media screen and (max-width: 1165px) {
  #gallery img.slide {
    width: auto;
    height: 50vh;
    min-width:100%;
    bottom: 0;
  }
}

@media screen and (max-width: 785px) {
  nav {
    position: relative;
    min-width: 100% !important;
    min-height: 56px;
    height: auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  nav .logo {
    margin-right: auto;
    margin-left: auto;
  }
  nav .search {
    display: none;
  }
  nav > .grid-cell:first-child {
    margin-right: 0;
    padding-right: 0;
  }
  nav .logged-out,
  nav .logged-in .grid > .grid-cell {
    display: none;
  }
  nav .logged-in .grid > .grid-cell:last-child {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 0;
  }
  .content .grid.center {
    flex-direction: column;
  }
  .content .grid.center > .grid-cell {
    max-width: 100%;
    min-width: 100%;
  }
  .content #home .grid.center > .grid-cell {
    margin-right: -10px !important;
    margin-left: -10px !important;
  }
  .content .grid.center > .grid-cell .votes {
    text-align: left;
    margin-top: 20px;
  }
  #home .hero .grid .grid-cell {
    padding-left: 20px;
    padding-right: 20px;
  }
  #home .favorites .grid-cell .item {
    padding-left: 20px;
    padding-right: 20px;
  }
  #home .hero .fuzzy-finder {
    padding-left: 20px;
    padding-right: 20px;
  }
  #home > .hero {
    min-height: calc(100vh - 57px);
  }
  #home .hero h1 {
    margin-top: 20vh;
  }
  #main-cont {
    padding: 57px 10px 0 10px;
  }
  #drink-page .ingredients {
    max-width: 100%;
  }
  .comments-cont {
    margin-right: 0;
    margin-left: 0;
  }
  .full-bleed {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .full-bleed .cards {
    min-width: 100% !important;
  }
  .splash.grid,
  .signin.grid {
    flex-direction: column;
  }
  .logged-out-nav {
    position: static;
    display: block;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  .signin.grid .grid-cell,
  .splash.grid .grid-cell {
    flex: 0 1 auto;
  }
  .splash.grid .grid-cell {
    margin-top: 25%;
   }
  .signin.grid .grid-cell:first-child {
    margin: auto;
  }
}