/* DRINK PAGE PHOTO GALLERY */

#gallery {
  width: 100%;
  min-height: 50vh;
}
#gallery img.slide {
  width: 100%;
}
#drink-page div#gallery a {
  height: initial;
  display: initial;
  min-width: initial;
  min-height: initial;
  cursor: pointer;
  color: #fff;
}
#drink-page #gallery #gallery-ctrl {
  position: absolute;
  top: 10px;
  z-index: 7;
  display: none;
}
#drink-page #gallery #gallery-ctrl a {
  display: inline-block;
  color: #8899a6;
  line-height: 32px;
  height:32px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border-left: none;
  border-right: none;
  padding-left: .7em;
  padding-right: .7em;
}
#drink-page #gallery #gallery-ctrl a:hover,
#drink-page #gallery-ctrl a .fa-flag:hover {
  background-color: #E1E8ED;
  color: #8899a6;
}
#drink-page #gallery #gallery-ctrl a.votes {
  cursor: default;
}
#drink-page #gallery #gallery-ctrl a.votes span {
  font-size: 13px;
}
#drink-page #gallery #gallery-ctrl a.votes:hover {
  background-color: #fff;
  color: #212121;
}
#drink-page #gallery #gallery-ctrl a:first-child {
  border-radius: 4px 0 0 4px;
}
#drink-page #gallery #gallery-ctrl a:last-child {
  border-radius: 0 4px 4px 0;
}
#gallery-ctrl {
  width: 50%;
  margin: 0 25%;
  text-align: center;
}
#drink-page #gallery .arrow {
  position: absolute;
  width: 50%;
  height: 100%;
  line-height: 100%;
  font-size: 50px;
  top: 0;
  z-index: 3;
  display: none;
  color: #fff;
}
#gallery .arrow.prev {
  left: 0;
  text-align: left;
  padding-left: 33px;
}
#gallery .arrow.next {
  right: 0;
  text-align: right;
  padding-right: 33px;
}
#gallery .arrow i {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  line-height: 55px;
}
#gallery .arrow.prev i {
  left: 36px;
  padding-right: 5px;
}
#gallery .arrow.next i {
  right: 36px;
  padding-left: 5px;
}
#drink-page #gallery:hover .arrow,
#drink-page #gallery:hover #gallery-ctrl {
  display: block;
}
#drink-page #gallery .arrow:hover,
#drink-page #gallery #gallery-ctrl:hover {
  opacity: 1;
}
#drink-page #gallery:hover .nav {
  background: rgba(0,0,0,0.3);
}
#drink-page #gallery .nav {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
    transition: all .4s;
}
#drink-page #gallery .nav li {
    border: 3px solid transparent;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    width: 50px;
    overflow: hidden;
}
#drink-page #gallery .nav li.active {
    border-color: #ffd;
}
#drink-page #gallery .nav li img {
    width: 100%;
}
#drink-page .slider {
    position: relative;
    margin-bottom: 0;

    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
#drink-page .slide {
    position: absolute;
    bottom: -50%;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.slide.ng-hide-add-active {
    opacity:0;
    
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.slide.ng-hide-remove {
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    opacity:0;
}
.slide.ng-hide-remove-active {
    opacity:1;
}
