<header ng-controller="FindCtrl">
  <div class="wrapper grid grid--center" ng-controller="ToolbarCtrl">
    <div class="logo grid-cell">
      <a href="/"><img src="/images/tipsyology-logo.png" /></a>
    </div>
    <div class="search grid-cell">
      <div class="input-group">
        <div id="fuzzy-finder">
          <ui-select theme="bootstrap" ng-model="fuzzyFind.record" on-select="fuzzyFindSelected($item, $model)" reset-search-input="true" search-enabled="true" >
            <ui-select-match data-placeholder="Search drinks and ingredients" allow-clear="true"></ui-select-match>
            <ui-select-choices repeat="item in findables" refresh-delay="100" refresh="fetchFindables($select.search)">
              <div class="{{item.type | tipsyFindableClass }}" ng-bind-html="item.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <nav class="grid grid--center grid-cell" ng-cloak ng-hide="isLoggedIn()">
      <div class="grid-cell"><a ng-click="openSignInModal()">Browse</a></div>
      <div class="grid-cell user">
        <a href="/users/sign_up/">Sign up</a>
        <a href="/users/sign_in/">Sign in</a>
      </div>
    </nav>
    <nav class="grid grid--center grid-cell" ng-cloak ng-show="isLoggedIn()">
      <div class="grid-cell"><a href="/drinks">Browse</a></div>
      <div class="grid-cell"><a ng-show="toolbar.availableReviewCt" href="/reviews/show">Review <span class="badge">{{toolbar.availableReviewCt}}</span></a></div>
      <div class="grid-cell user">
        <div class="grid grid--center">
          <div class="grid-cell dropdown">
            <div class="rep-cont" id="rep-alerts">
              <a ng-click="openToolbarMenu($event, 'repChanges')">
                <span class="reputation" title="{{getUser().points}} points of reputation ('tips')">{{getUser().points}}</span>
                <span class="rep-change" ng-if="getUser().newPointChanges">{{getUser().newPointChanges < 0 ? '-' : '+'}}{{getUser().newPointChanges}}</span>
              </a>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" ng-if="toolbar.repChanges">
              <li ng-repeat="change in recentRepChanges">
                <a href="#"><span class="rep-change">+1</span> User has liked your picture</a>
              </li>
            </ul>
          </div>
          <div class="grid-cell">
            <a href="#">
              <i class="fa fa-trophy gold"></i>{{getUser().goldBadgeCt||0}}
              <i class="fa fa-trophy silver"></i>{{getUser().silverBadgeCt||0}}
              <i class="fa fa-trophy bronze"></i>{{getUser().bronzeBadgeCt||0}}
            </a>
          </div>
          <div class="grid-cell dropdown">
            <div class="grid" id="avatar-dropdown">
              <a class="avatar" ng-click="openToolbarMenu($event, 'avatar')"></a>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" ng-show="toolbar.avatar">
              <li><a href="/users/edit">Profile &amp; Settings</a></li>
              <li><a href="/users/sign_out">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <ng-include src="'/find-results.html'"></ng-include>
</header>